// ------------ FONTS ------------
$main-font: 'Roboto', sans-serif;

// ------------ TEXT & ACCENTS COLORS ------------
// Text Colors

//**modal-footer**//
$modal-footer-title:#000000;
$modal-footer-team-text:#757575;
$color-passiv-icon-link: #AFB1B8;
$hover-color: #2196f3;
$text-on-a-dark-background: #ffffff;
<<<<<<< HEAD
$modal-footer-card-border-color: #dbb858;
=======
>>>>>>> 222fa9ae0e5c4f6a6facc5ed5720993938dd998e
// Accents Colors

// Background Colors
//**modal-footer**//
$background-team: #f5f4fa;
$background-modal-footer: #f5f4fa;
$background-modal-footer-team: #f5f4fa;
$background-modal-footer-overlay: #ffb8ca80;

$secondary-txt-color:#545454;
// Accents Colors

// Background Colors
// Background Colors

$secondary-bg-color: #F7F7F7;


// Buttons Background Colors

// ------------ TRANSITION PROPS ------------
$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
