// ------------ FONTS ------------
$main-font: 'Roboto', sans-serif;

// ------------ TEXT & ACCENTS COLORS ------------
// Text Colors
<<<<<<< HEAD
//**modal-footer**//
$modal-footer-title:#000000;
$modal-footer-tim-text:#757575;
$color-passiv-icon-link: #AFB1B8;
$hover-color: #2196f3;
$text-on-a-dark-background: #ffffff;
// Accents Colors

// Background Colors
//**modal-footer**//
$background-tim: #f5f4fa;
$background-modal-footer: #f5f4fa;
$background-modal-footer-tim: #f5f4fa;
$background-modal-footer-overlay: #ffb8ca80;
=======
$secondary-txt-color:#545454;
// Accents Colors

// Background Colors
// Background Colors

$secondary-bg-color: #F7F7F7;

>>>>>>> 20031dae88cb9acb01e0e0cce46545893bf9da94
// Buttons Background Colors

// ------------ TRANSITION PROPS ------------
$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
