// ------------ FONTS ------------
$main-font: 'Roboto', sans-serif;

// ------------ TEXT & ACCENTS COLORS ------------
// Text Colors

// Accents Colors

// Background Colors

// Buttons Background Colors

// ------------ TRANSITION PROPS ------------
$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
