<section class="filter">
<div class="filter-container">
    <form class="filter-search">
      <label for="keywords-suggest" id="keywords-label">
        Keyword search:
    </label>
    <input class="keyword-input" list="keywords-suggest" name="keyword-input" id="keyword-input" placeholder="search..." autocomplete="off">
  
      <datalist id="keywords-suggest">
      </datalist>
        <select class="js-filter-genres" name="select-genre">
        </select>
        <select class="js-filter-years">
          </select>
        <button
        class="js-filter-submit"
        type="submit">
      search
    </button>
        <button
          class="js-filter-reset"
          type="reset"
        >
         reset 
        </button>
  </form>
  </div>
</section>
  
  