<header class="header-library">
  <div class="header-conteiner">
    <nav class="header-nav">
      <a class="header-nav_logo" href="/">
        <svg class="header-nav_logo-icon" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="header-nav_logo-text">Filmoteka</span>
      </a>
      <ul class="header-nav_list">
        <li class="header-nav_item">
          <a class="header-nav_item-link" href="/src/index.html">Home</a>
        </li>
        <li class="header-nav_item">
          <a class="header-nav_item-link" href="/src/library.html"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-wrap">
      <button class="header_btn active-btn">Watched</button>
      <button class="header_btn">queue</button>
    </div>
  </div>
</header>
