<div class="background-wrapper">
<div class="main-div">
    <div class="img__wrapper-lignt">
    <img class="minion-img" id="anchor" src="./images/library-background/minion_light.png" />
    </div>
    <div class="img__wrapper-dark">
<img class="minion-img" id="anchor" src="./images/library-background/minion_dark.png" />
    </div>
    <div class="container-eyes">
        <div class="eyes-wrapper">
            <div class="eye">
                <div class="eyeball"></div>
            </div>
            <div class="eye">
                <div class="eyeball"></div>
            </div>
        </div>
    </div>
</div>
</div>


