<div class="background-wrapper">
<div class="main-div">
    <img class="minion-img" id="anchor" src="./images/library-background/minion.png" />
    <div class="container-eyes">
        <div class="eyes-wrapper">
            <div class="eye">
                <div class="eyeball"></div>
            </div>
            <div class="eye">
                <div class="eyeball"></div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- <div class="main-div">
    <img class="minion-img" id="anchor" src="./images/library-background/minion.png" />
    <div class="container-eyes">
    <div class="eyes-wrapper">
        <div class="eye">
        <img class="eyeball" src="./images/library-background/eye.png" 
        style="bottom: 220px; right: 180px;" />
        </div>
        <div class="eye">
            <img class="eyeball" src="./images/library-background/eye.png" alt=""
            style="bottom: 220px; right: 20px;" />
        </div>
    </div>
</div> -->