<div class="modal-footer">
  <p class="modal-footer__title">Our Team</p>
  <div class="tim__list">
    <div class="tim__unit">
      <img
        class="tim__unit-img"
        src="/src/images/modal-footer/Bokhvalov Ivan.webp"
        alt="Bokhvalov Ivan"
      />

      <div class="tim__text">
        <h3 class="tim__name">Bokhvalov Ivan</h3>
        <p class="tim__position" lang="en">Wroclaw</p>
        <p class="tim__position" lang="en">Team Lead</p>

        <ul class="list social">
          <li>
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://github.com/bokhvalov"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-github"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.linkedin.com/in/ivan-bokhvalov-a58083163"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-linkedin"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tim__unit">
      <img
        class="tim__unit-img"
        src="/src/images/modal-footer/Shtondenko Inna.jpg"
        alt="Shtondenko Inna"
      />

      <div class="tim__text">
        <h3 class="tim__name">Shtondenko Inna</h3>
        <p class="tim__position" lang="en">Dnipro</p>
        <p class="tim__position" lang="en">Scrum Master</p>

        <ul class="list social">
          <li>
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://github.com/InnaShtondenko"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-github"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.linkedin.com/in/%D1%96%D0%BD%D0%BD%D0%B0-%D1%88%D1%82%D0%BE%D0%BD%D0%B4%D0%B5%D0%BD%D0%BA%D0%BE-876316253/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-linkedin"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tim__unit">
      <img
        class="tim__unit-img"
        src="/src/images/modal-footer/Chernychenko Kostyantyn.jpg"
        alt="Chernychenko Kostyantyn"
      />

      <div class="tim__text">
        <h3 class="tim__name">Chernychenko Kostyantyn</h3>
        <p class="tim__position" lang="en">Kharkiv</p>
        <p class="tim__position" lang="en">Frontend Developer</p>

        <ul class="list social">
          <li>
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://github.com/MrCOTst"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-github"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.linkedin.com/in/constantin-undefined-926aa9251/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-linkedin"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tim__unit">
      <img
        class="tim__unit-img"
        src="/src/images/modal-footer/Maliuha Ihor.jpg"
        alt="Maliuha Ihor"
      />

      <div class="tim__text">
        <h3 class="tim__name">Maliuha Ihor</h3>
        <p class="tim__position" lang="en">Lviv</p>
        <p class="tim__position" lang="en">Frontend Developer</p>

        <ul class="list social">
          <li>
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://github.com/IhorMal"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-github"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-linkedin"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tim__unit">
      <img
        class="tim__unit-img"
        src="/src/images/modal-footer/Gileva Katya.jpg"
        alt="Gileva Katya"
      />

      <div class="tim__text">
        <h3 class="tim__name">Gileva Katya</h3>
        <p class="tim__position" lang="en">Cherkasy</p>
        <p class="tim__position" lang="en">Frontend Developer</p>

        <ul class="list social">
          <li>
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://github.com/KaterinaGileva/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-github"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.linkedin.com/in/katerinagilyova/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-linkedin"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tim__unit">
      <img
        class="tim__unit-img"
        src="/src/images/modal-footer/Viacheslav Osokin.jpg"
        alt="Viacheslav Osokin"
      />

      <div class="tim__text">
        <h3 class="tim__name">Viacheslav Osokin</h3>
        <p class="tim__position" lang="en">Dnipro</p>
        <p class="tim__position" lang="en">Frontend Developer</p>

        <ul class="list social">
          <li>
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://github.com/SlavaOSO/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-github"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.linkedin.com/in/slava-osokin-906359253"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-linkedin"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tim__unit">
      <img
        class="tim__unit-img"
        src="/src/images/modal-footer/Maksym Kozin.jpg"
        alt="Maksym Kozin"
      />

      <div class="tim__text">
        <h3 class="tim__name">Maksym Kozin</h3>
        <p class="tim__position" lang="en">Kyiv</p>
        <p class="tim__position" lang="en">Frontend Developer</p>

        <ul class="list social">
          <li>
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://github.com/KozinM"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-github"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.linkedin.com/in/maksym-kozin-962627143"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-linkedin"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tim__unit">
      <img
        class="tim__unit-img"
        src="/src/images/modal-footer/Vladyslav Yanchenko.jpg"
        alt="Vladyslav Yanchenko"
      />

      <div class="tim__text">
        <h3 class="tim__name">Vladyslav Yanchenko</h3>
        <p class="tim__position" lang="en">Vinnitsa</p>
        <p class="tim__position" lang="en">Frontend Developer</p>

        <ul class="list social">
          <li>
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-github"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>

          <li>
            <a
              class="social__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="social__icon" width="20" height="20">
                <use
                  href="/src/images/modal-footer/icons.svg#icon-linkedin"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer-overlay js-overlay-modal"></div>
