.filter {

    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -60px;
    margin-bottom: 10px;
}
.filter-container {
   
    margin: 0 auto;
    padding: 0 20px;

}
/* .filter-search {

}
.filter-list {
 
}
.filter-item {

}
.js-filter-reset,.js-filter-submit {

} */