.header {
    text-align: center;
    background-image: url('/src/images/header/mobail-bi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 90px;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        background-image: url('/src/images/header/tablet-bi.jpg');
        padding-bottom: 80px;
    }

    @media screen and (min-width: 1280px) {
        background-image: url('/src/images/header/desktop-bi.jpg');
    }

    & a{
        text-decoration:none;
    }
}

.header-conteiner {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 320px;

    @media screen and (min-width: 768px) {
        max-width: 740px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1240px;

    }
}
.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;    
}
.header-nav_list {
    display: flex;
    list-style-type: none;
    font-size: 12px;

    @include font-size(12, 14);
    text-transform: uppercase;
}

.header-nav_item-link {
    color: #fff;
    transition: border-bottom $transition-timing $transition-function;
    &:first-child {
        margin-left: 20px;
    }
    &:hover,&:active {
        border-bottom: 3px solid #FF001B;
    }
}

.header-nav_logo{
    display: inline-flex;
    align-items: center;
    color: #fff;
    margin: 0;
    transition: color $transition-timing $transition-function;
    &:hover,
    &:active {   
        color: rgb(202, 191, 191);
    }
}

.header-nav_logo-text {
    font-size: 0;

    @media screen and (min-width: 768px) {
        font-size: 30px;
        margin-left: 10px;
    }
}

.header_search {
    display: flex;
    justify-content: center;
    height: 20px;

    &:hover .header_search-input, 
    &:hover .header_search-btn, 
    &:focus .header_search-input, 
    &:focus .header_search-btn {
        border-bottom: 0.5px solid red;
    }
}

.header_search-input {
    padding-bottom: 4px;
    margin: 0;
    background-color:inherit;
    border: none;
    border-bottom: 0.5px solid #fff;
    font-size: 12px;
    color: #fff;
    width: 100%;
    &:focus-visible{
        outline: none;
    }

    @media screen and (min-width: 768px) {
        width: 330px;
    }
    @media screen and (min-width: 1280px) {
        width: 400px;
    }

}


.header_search-btn {
    display: inline-flex;
    background-color: inherit;
    border: none;
     border-bottom: 0.5px solid #fff;
    margin: 0;
    padding: 0;
}

.header_search-btn_icon {
    height: 100%;
}


