.header-library {
    text-align: center;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.56) 50%, rgba(0, 0, 0, 0.1) 100%), url('/src/images/header/library-mobail.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56) 50%, rgba(0, 0, 0, 0.1) 100%), url('/src/images/header/library-tablet.jpg');
    }

    @media screen and (min-width: 1280px) {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56) 50%, rgba(0, 0, 0, 0.1) 100%), url('/src/images/header/library-desktop.jpg');
    }

    & a {
        text-decoration: none;
    }
}

.header-conteiner {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 320px;

    @media screen and (min-width: 768px) {
        max-width: 740px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1240px;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}

.header-nav_list {
    display: flex;
    list-style-type: none;
    font-size: 12px;

    @include font-size(12, 14);
    text-transform: uppercase;
}

.header-nav_item-link {
    color: #fff;
    transition: border-bottom $transition-timing $transition-function;

    &:first-child {
        margin-left: 20px;
    }

    &:hover,
    &:active {
        border-bottom: 3px solid #FF001B;
    }
}

.header-nav_logo {
    display: inline-flex;
    align-items: center;
    color: #fff;
    margin: 0;
    transition: color $transition-timing $transition-function;

    &:hover,
    &:active {
        color: rgb(202, 191, 191);
    }
}

.header-nav_logo-text {
    font-size: 0;

    @media screen and (min-width: 768px) {
        font-size: 30px;
        margin-left: 10px;
    }
}

.header_search {
    display: flex;
    justify-content: center;
    height: 20px;
}

.header_search-btn {
    display: inline-flex;
    background-color: inherit;
    border: none;
    border-bottom: 0.5px solid #fff;
    margin: 0;
    padding: 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 768px) {
        justify-content: center;
    }
}

.header_btn {
    cursor: pointer;
    width: 130px;
    height: 45px;
    color: #FFF;
    background-color: inherit;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    transition: background-color $transition-timing $transition-function;
    text-transform: uppercase;
    font-size: 12px;
    @include font-size(12, 16);
    font-weight: 500;
    &:hover,
    &:active {
        background-color: #FF6B01;
        border: none;
    }
    @media screen and (min-width: 768px) {
            width: 150px;
           margin-left: 30px;
    }
    @media screen and (min-width: 1280px) {
        margin-left: 15px;
    }
}

.active-btn {
    background-color: #FF6B01;
    border: none;
}