.header {
    text-align: center;
    background-image: url('/src/images/header/mobail-bi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 90px;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        background-image: url('/src/images/header/tablet-bi.jpg');
        padding-bottom: 80px;
    }

    @media screen and (min-width: 1280px) {
        background-image: url('/src/images/header/desktop-bi.jpg');
    }

    & a{
        text-decoration:none;
    }
}

.header-conteiner {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 320px;

    @media screen and (min-width: 768px) {
        max-width: 740px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1240px;

    }
}
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;    
}
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
.header-nav_list {
    display: flex;
    list-style-type: none;
    font-size: 12px;

    @include font-size(12, 14);
    text-transform: uppercase;
}

.header-nav_item-link {
    color: #fff;
    transition: border-bottom $transition-timing $transition-function;
    &:first-child {
        margin-left: 20px;
    }
    &:hover,&:active {
        border-bottom: 3px solid #FF001B;
    }
}

<<<<<<< HEAD
<<<<<<< HEAD
.header-nav_logo-icon {
    transition: transform $transition-timing $transition-function;
}

=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
.header-nav_logo{
    display: inline-flex;
    align-items: center;
    color: #fff;
    margin: 0;
    transition: color $transition-timing $transition-function;
    &:hover,
    &:active {   
<<<<<<< HEAD
<<<<<<< HEAD
       color: rgb(202, 191, 191);
    }

    &:hover .header-nav_logo-icon {
        transform: scale(1.10);
    }

}



=======
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
        color: rgb(202, 191, 191);
    }
}

<<<<<<< HEAD
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
.header-nav_logo-text {
    font-size: 0;

    @media screen and (min-width: 768px) {
        font-size: 30px;
        margin-left: 10px;
    }
}

.header_search {
<<<<<<< HEAD
<<<<<<< HEAD
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100%;
    @media screen and (min-width: 768px) {
            width: 330px;
    }
    
    @media screen and (min-width: 1280px) {
        width: 400px;
    }
    &:hover .header_search-input,
    &:hover .header_search-btn,
    &:focus .header_search-input,
    &:focus .header_search-btn {
        border-bottom: 0.5px solid red;
    }
    

}

.header_search-input {
    width: 100%;
=======
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
    display: flex;
    justify-content: center;
    height: 20px;

    &:hover .header_search-input, 
    &:hover .header_search-btn, 
    &:focus .header_search-input, 
    &:focus .header_search-btn {
        border-bottom: 0.5px solid red;
    }
}

.header_search-input {
<<<<<<< HEAD
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
    padding-bottom: 4px;
    margin: 0;
    background-color:inherit;
    border: none;
    border-bottom: 0.5px solid #fff;
    font-size: 12px;
    color: #fff;
<<<<<<< HEAD
<<<<<<< HEAD
    transition: border-bottom $transition-timing $transition-function;
    &:focus-visible{
        outline: none;
    }
}

.header_search-btn {
    transition: border-bottom $transition-timing $transition-function;
=======
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
    width: 100%;
    &:focus-visible{
        outline: none;
    }

    @media screen and (min-width: 768px) {
        width: 330px;
    }
    @media screen and (min-width: 1280px) {
        width: 400px;
    }

}


.header_search-btn {
<<<<<<< HEAD
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
    display: inline-flex;
    background-color: inherit;
    border: none;
     border-bottom: 0.5px solid #fff;
    margin: 0;
    padding: 0;
}

.header_search-btn_icon {
    height: 100%;
}

<<<<<<< HEAD
<<<<<<< HEAD
.form-conteiner {
    position: relative;
}

.form-text {
    position: absolute; 
    top: 20px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);

    text-align: left;
    font-size: 14px;
    color: #FF001B;
    @include font-size(14, 16);

    @media screen and (min-width: 768px) {
        text-align: center;
    }
    
}
=======

>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
=======

>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
