.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.filmoteka__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

<<<<<<< HEAD
<<<<<<< HEAD
    padding-left: 0;
    padding-right: 0;

}

.filmoteka__item {

    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 32px;;
    transform: scale(1);
    transition: transform 250ms linear;

    @media screen and (max-width: 767px) {
            margin: 20px;
            width: 280px;
            height: 440px;

            &:not(:last-child) {
                margin: 10px 20px 10px;
            }
        }
    @media screen and (min-width: 768px) {
            width: 336px;
            height: 495px;
            margin: 16px;
            
            flex-basis: calc(100%/3);
        }
    
        @media screen and (min-width: 1200px) {
            width: 395px;
            height: 634px;
            margin: 16px 8px 16px;
            // margin-right: 8px;
            flex-basis: calc(100%/4);
        }
    }

.filmoteka__item-link{
    text-decoration: none;
}

.filmoteka__item-wrapper {
    pointer-events: none;
    
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
    @media screen and (max-width: 767px) {
            width: 280px;
            height: 438px;
        }
    
        @media screen and (min-width: 768px) {
            width: 336px;
            height: 500px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 395;
            height: 634px;
        }
}
.filmoteka__item:hover,
.filmoteka__item:focus {

transform: scale(1.03);
    
}
.filmoteka-img {
    border-radius: 5px;

    @media screen and (max-width: 767px) {
           width: 280px;
           height: 398px;
        }
    
        @media screen and (min-width: 768px) {
           width: 336px;
           height: 455px;
        }
    
        @media screen and (min-width: 1200px) {
           width: 395;
           height: 574px;
        }

}
.filmoteka__year::before {
    content: "| ";
}

.filmoteka__rating {
    text-align: left;
    color: #f1f1f1;
    pointer-events: none;
    background-color: #ff6b08;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.1;
    transition: color .25s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    top: 10px;
    left: 10px;
    }
    
.overlay-text {
    
    @media screen and (max-width: 767px) {
        
        width: 280px;
    }
    @media screen and (min-width: 768px){
        
        width: 336px;
        }
    @media screen and (min-width: 1200px) {
        
        max-width: 395px;
}
}

.subtitle {
    text-transform: uppercase;
    color: #000000;
    margin-top: 8px;
    @media screen and (max-width: 767px) {
            
                font-size: 12px;
                // line-height: 16px;
        }
    
}
.discription {
    margin-top: 5px;
    color: #FF6B08;

    @media screen and (max-width: 767px) {
            margin-top: 3px;
            font-size: 12px;
            // line-height: 14px;
        }
}

.subtitle,
.discription {
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
    
            font-size: 12px;
            // line-height: 16px;
        }
    
        @media screen and (min-width: 1200px) {
    
            font-size: 20px;
            // line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
=======
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
    max-width: 320px;
    padding-left: 0;
    padding-right: 0;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1013px;
    }
}

.filmoteka__item {
    margin-left: 0px;
    margin-right: 0px;

    @media screen and (min-width: 768px) {
            margin-left: 16px;
            margin-right: 16px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-left: 8px;
            margin-right: 8px;
        }
//    &:not(:last-child){
//         margin-left: 0px;
//         margin-right: 0px;
//    }  
<<<<<<< HEAD
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
=======
>>>>>>> a9749f639ef47a53a6f9e1cf69399698fa331138
}