.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: red;
  // background-color: #f7f7f7;
  border: none;
  cursor: pointer;
}

.pagination__page--activ {
  color: red;
}

.pagination__page {
  margin-right: 10px;
}

a {
  padding: 10px;
}
